.about_section {
  .row {
    align-items: stretch;
    > [class*="col-"] {
      max-height: 350px;
    }
  }

  .img-box {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  .detail-box {
    p {
      margin-top: 15px;
    }

    a {
      @include hero_btn($primary2, $white, 10px, 45px, 5px);
      margin-top: 15px;
    }
  }

  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      margin-bottom: 10px;
    }

    i {
      color: $primary2;
      margin-right: 5px;
    }
    .presta {
      text-align: center;
    }
  }
}
