.contact_section {
  position: relative;

  .row {
    align-items: stretch;
  }

  .form_container {
    padding: 25px;
    background: $primary1;
    color: $white;
    border-radius: 5px;
  }

  form {
    margin-top: 20px;
  }

  input {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 15px;
    background-color: $white;
    outline: none;
    color: $black;
    border: 1px solid #a5a5a5;

    &::placeholder {
      color: #1c1b1b;
    }

    &.message-box {
      height: 120px;
    }
  }

  button {
    @include main-font();
    @include hero_btn($primary2, $white, 10px, 65px, 3px);
    color: #fff;
    margin-top: 10px;
  }

  .img-box {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}

// map section
.map_section {
  .map_container {
    height: 375px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    padding: 0;

    .map {
      height: 100%;
      flex: 1;

      #map {
        height: 100%;
      }
    }
  }
}
// end map section
